<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Checkout</title>
    <link href="aos.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-icons.css" rel="stylesheet">
    <link href="boxicons.min.css" rel="stylesheet">
    <link href="glightbox.min.css" rel="stylesheet">
    <link href="swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Dylan</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
<!--          <li><a href="resume.html">Resume</a></li>-->
          <li><a class="active" href="{{ url_for('services') }}">Services</a></li>
<!--          <li><a href="portfolio.html">Portfolio</a></li>-->
          <li><a href="{{ url_for('contact_me') }}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links">
         <a href="https://www.youtube.com/@dylanearl1395" class="youtube"><i class="bi bi-youtube"></i></a>
        <a href="https://www.tiktok.com/@dylan.earl" class="tiktok"><i class="bi bi-tiktok"></i></a>
        <a href="https://www.instagram.com/dylan_earl/" class="instagram"><i class="bi bi-instagram"></i></a>
<!--        <a href="https://www.linkedin.com/in/dylan-earl-8615b824b/" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
      </div>

    </div>

  </header><!-- End Header -->
  <section>
      <div class="product">
        {% if prod_id == '1': %}
        <img src="../static/assets/img/Dylan2test.jpg" alt="Abs Product" />
        <div class="description">
          <h3>{{ab_product.name}}</h3>
          <h5>{{ab_product.metadata['test-price']}}</h5>
        </div>
        {% elif prod_id == '2': %}
        <img src="static/assets/img/Dylan4.jpg" alt="Chest Product" />
        <div class="description">
          <h3>{{chest_product.name}}</h3>
          <h5>{{chest_product.metadata['test-price']}}</h5>
        </div>
        {% else: %}
        <img src="static/assets/img/Dylan7.jpg" alt="Bi Product" />
        <div class="description">
          <h3>{{bicep_product.name}}</h3>
          <h5>{{bicep_product.metadata['test-price']}}</h5>
        {% endif %}
      </div>
      <form action=" {{ url_for('create_checkout_session', prod_id=prod_id)}} " method="POST">
        <button class="btn btn-primary" type="submit" id="checkout-button">Checkout</button>
      </form>
      </div>
    </section>

    <script type="text/js" src="purecounter_vanilla.js"></script>
    <script type="text/jsx" src="aos.js"></script>
    <script type="text/jsx" src="bootstrap.bundle.min.js"></script>
    <script type="text/jsx" src="glightbox.min.js"></script>
    <script type="text/jsx" src="isotope.pkgd.min.js"></script>
    <script type="text/jsx" src="swiper-bundle.min.js"></script>
    <script type="text/jsx" src="noframework.waypoints.js"></script>
    <script type="text/jsx" src="main.js"></script>

</body>
</html>